<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>624546362038-95a1079kf0h7lpjcacjmj820pn2onhh8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.624546362038-95a1079kf0h7lpjcacjmj820pn2onhh8</string>
	<key>API_KEY</key>
	<string>AIzaSyCGWLBwnGrQm7vwCnTu_elJ6tqZbjBjg5g</string>
	<key>GCM_SENDER_ID</key>
	<string>624546362038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kerimcaglar.KodluyoruzTwitterApp</string>
	<key>PROJECT_ID</key>
	<string>kodluyoruztwitterapp</string>
	<key>STORAGE_BUCKET</key>
	<string>kodluyoruztwitterapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:624546362038:ios:e8a4b768a1ef92a5f46c17</string>
	<key>DATABASE_URL</key>
	<string>https://kodluyoruztwitterapp.firebaseio.com</string>
</dict>
</plist>